* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: hsl(10, 79%, 65%);
    --higher: hsl(186, 34%, 60%);
    --higher-hover: hsl(186, 49%, 80%);
    --hover: hsl(10, 100%, 76%);
    --primary-text: hsl(25, 47%, 15%);
    --secondary-text: hsl(28, 10%, 53%);
    --bg: hsl(27, 66%, 92%);
    --main-bg: hsl(33, 100%, 98%);

    --border: 1.25rem;
}

body {
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
}

.container {
    width: 540px;
}

/* head of the project */
.container__my-balance {
    background-color: var(--main-color);
    color: var(--main-bg);
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border);
}

.container__my-balance__box__title {
    margin-bottom: .5rem;
}

.container__my-balance__box__balance {
    font-size: 2rem;
}

.container__my-balance__img__logo {
    display: block;
}

/* main part of the project */
.container__spending-week {
    background-color: var(--main-bg);
    color: var(--primary-text);
    border-radius: var(--border);
    padding: 2rem 2.5rem;
}

.container__spending-week__box {
    margin-bottom: 4rem;
}

.container__spending-week__box__heading {
    font-size: 2rem;
}

/* graphic */
.container__spending-week__graphic {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1.12rem;
    row-gap: .5rem;
    text-align: center;
    align-items: end;
}

.column {
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    position: relative;
}

.column:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.spending-value {
    background-color: var(--primary-text);
    color: var(--main-bg);
    /* width: 5rem; */
    padding: .5rem;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -3rem;
    border-radius: 5px;
    display: none;
}

.spending-value::before {
    content: "$";
}

.max {
    background-color: var(--higher);
}

.max:hover {
    background-color: var(--higher-hover);
}

.active, .column:hover .spending-value{
    display: block;
}

.container__spending-week__total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    border-top: 2px solid var(--bg);
    margin-top: 2rem;
}

.container__spending-week__total-box__this-month__total {
    font-size: 3rem;
}

.container__spending-week__total-box__difference{
    text-align: end;
}

.secondary-text {
color: var(--secondary-text);
}

.bold {
    font-weight: 700;
}

.litte-font {
    /* 15px */
    font-size: 0.9375rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 600px){
    html {
        font-size: 75%;
    }

    body {
        font-size: 1.25rem;
    }

    .container {
        width: 100%;
        margin: 2rem;
    }

    .container__my-balance {
        padding: 1.75rem;
    }

    .container__spending-week {
      padding: 2rem 1.75rem;
    }

    .container__spending-week__total-box__this-month__total {
       font-size: 2.5rem;
    }
}
